openapi: 3.0.0
info:
  title: Aloft API V1 Accounts Connections API
  contact:
    email: support@aloft.ai
  version: 1.0.0
  description: Accounts
tags:
- name: Connections
  description: Connections
paths:
  /v1/account/{account_id}/connections:
    get:
      tags:
      - Connections
      summary: Get all connections
      description: Get all connections
      operationId: 634cf86c723e6464b4fa0e17e4ef1c4b
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: search
        in: query
        description: Search for user.
        required: false
        schema:
          type: string
      - name: status
        in: query
        description: Filter results by status.
        required: false
        schema:
          type: string
          enum:
          - enabled
          - disabled
          - error
      - name: type
        in: query
        description: Filter results by connection handler.
        required: false
        schema:
          type: string
          enum:
          - dji
          - airmesh
          - skydio
          - autel
          - dronelink
          - airmesh-skydio
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
    post:
      tags:
      - Connections
      summary: Create a new connection
      description: Create a new connection
      operationId: 349c9e06cd00e8acc9c55bffa4c4b37c
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#components/schemas/ConnectionStoreRequest'
      responses:
        '422':
          description: Unprocessable Content
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '201':
          description: Successful operation
      security:
      - Aloft Token: []
  /v1/account/{account_id}/connections/{connection_id}:
    get:
      tags:
      - Connections
      summary: Get a connection
      description: Get a connection
      operationId: 79b1ca84389bdcd713d005b592f20e1e
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: connection_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
    put:
      tags:
      - Connections
      summary: Update a connection
      description: Update a connection
      operationId: 1092c05f67573fb3793c6f058ba5fc22
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: connection_id
        in: path
        required: true
        schema:
          type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#components/schemas/ConnectionStoreRequest'
      responses:
        '422':
          description: Unprocessable Content
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
    delete:
      tags:
      - Connections
      summary: Delete a connection
      description: Delete a connection
      operationId: 004ce724ad2d00b55ab280a705bbbef2
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: connection_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '204':
          description: Successful operation
      security:
      - Aloft Token: []
components:
  securitySchemes:
    Aloft Token:
      type: http
      name: Aloft Token
      in: header
      scheme: bearer
servers:
- url: https://api.aloft.ai
  description: Base URL reconciled from apis.yml
