openapi: 3.0.0
info:
  title: Aloft API V1 Accounts Auth API
  contact:
    email: support@aloft.ai
  version: 1.0.0
  description: Accounts
tags:
- name: Auth
  description: Auth
paths:
  /v1/account/{account_id}/profile:
    get:
      tags:
      - Auth
      summary: Get user profile
      description: Get user profile
      operationId: 1a299cddbc3ba5c06c9aaa983e2feead
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: appends[]
        in: query
        description: Array of appendable resource names
        schema:
          type: array
          items:
            type: string
            enum:
            - flight_sessions
            - role
            - role.workflow
            - role.workflow.workflow_steps
            - role.workflow.workflow_steps.workflow_step_id
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
          content:
            application/json: {}
            application/csv: {}
      security:
      - Aloft Token: []
  /v1/account/{account_id}/logout:
    post:
      tags:
      - Auth
      summary: End user session
      description: End user session. If a refresh token is provided, all access tokens created with it
        will be blocklisted
      operationId: e0fcb415f7fe2a08436e04b8a9c5f082
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              properties:
                refresh_token:
                  type: string
              type: object
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
components:
  securitySchemes:
    Aloft Token:
      type: http
      name: Aloft Token
      in: header
      scheme: bearer
servers:
- url: https://api.aloft.ai
  description: Base URL reconciled from apis.yml
