openapi: 3.0.0
info:
  title: Aloft API V1 Accounts Risk Assessments API
  contact:
    email: support@aloft.ai
  version: 1.0.0
  description: Accounts
tags:
- name: Risk Assessments
  description: Risk Assessments
paths:
  /v1/account/{account_id}/risk-assessments:
    get:
      tags:
      - Risk Assessments
      summary: Get risk assessments
      description: Get risk assessments
      operationId: b2753005c302783e6afed2f922f51392
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: order_by
        in: query
        description: The field to order the data by
        schema:
          type: string
      - name: order
        in: query
        schema:
          $ref: '#components/schemas/order_direction'
      - name: search
        in: query
        description: A text field for search the title
        schema:
          type: string
      - name: exclude_retired
        in: query
        description: If true will exclude retired risk assessments
        schema:
          type: boolean
      - name: tags_required
        in: query
        description: When true, all tags must be connected to the object
        schema:
          type: boolean
      - name: tags[]
        in: query
        description: array of tag ids
        schema:
          type: array
          items:
            description: A tag id
            type: integer
      - name: page
        in: query
        schema:
          type: integer
      - name: page_length
        in: query
        schema:
          type: integer
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - originalRiskAssessment
            - riskAssessmentExecutions
            - tags
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
          content:
            application/json: {}
            application/csv: {}
      security:
      - Aloft Token: []
    post:
      tags:
      - Risk Assessments
      summary: Create a risk assessment
      description: Create a risk assessment
      operationId: b50dff3e8f42b8237feb630d3370a074
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - originalRiskAssessment
            - riskAssessmentExecutions
            - tags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#components/schemas/risk_assessment'
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
  /v1/account/{account_id}/risk-assessments/{risk_assessment_id}:
    get:
      tags:
      - Risk Assessments
      summary: Get a risk assessment
      description: Get a risk assessment
      operationId: 142177876429e3dbf4c6c9bc8505861c
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: risk_assessment_id
        in: path
        description: Risk Assessment ID
        required: true
        schema:
          type: integer
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - originalRiskAssessment
            - riskAssessmentExecutions
            - tags
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
    put:
      tags:
      - Risk Assessments
      summary: Update a risk assessment
      description: Update a risk assessment
      operationId: 50f76ccc69df8e6a605699cd040de7c9
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: risk_assessment_id
        in: path
        description: Risk Assessment ID
        required: true
        schema:
          type: integer
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - originalRiskAssessment
            - riskAssessmentExecutions
            - tags
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#components/schemas/risk_assessment'
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
    delete:
      tags:
      - Risk Assessments
      summary: Delete a risk assessment
      description: Delete a risk assessment
      operationId: 5d9cae4fe81c5981b4b6a753386ac261
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: risk_assessment_id
        in: path
        description: risk assessment id
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '204':
          description: Successful operation
      security:
      - Aloft Token: []
  /v1/account/{account_id}/risk-assessments/{risk_assessment_id}/retire:
    post:
      tags:
      - Risk Assessments
      summary: Retire a risk assessment
      description: Retire a risk assessment
      operationId: 701649e5021a14ab4f4755d99c91fe98
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: risk_assessment_id
        in: path
        description: Risk Assessment ID
        required: true
        schema:
          type: integer
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - originalRiskAssessment
            - riskAssessmentExecutions
            - tags
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
      security:
      - Aloft Token: []
components:
  securitySchemes:
    Aloft Token:
      type: http
      name: Aloft Token
      in: header
      scheme: bearer
servers:
- url: https://api.aloft.ai
  description: Base URL reconciled from apis.yml
