openapi: 3.0.0
info:
  title: Aloft API V1 Accounts Alert Recipients API
  contact:
    email: support@aloft.ai
  version: 1.0.0
  description: Accounts
tags:
- name: Alert Recipients
  description: Alert Recipients
paths:
  /v1/account/{account_id}/alert-recipients:
    get:
      tags:
      - Alert Recipients
      summary: Get alert recipients
      description: Get alert recipients
      operationId: c1578af726e673cb67c9829fd347da1a
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: page
        in: query
        schema:
          type: integer
      - name: page_length
        in: query
        schema:
          type: integer
      - name: address_type[]
        in: query
        description: A list of address types
        schema:
          type: array
          items:
            type: string
            enum:
            - email
            - role
            - user
            - pilot
            - tag
            - affected_users
            - mission_visual_observers
            - mission_pilot_in_command
      - name: alert_id
        in: query
        schema:
          type: integer
      - name: order_by
        in: query
        description: The field to order the data by
        schema:
          type: string
          enum:
          - id
          - address_type
          - created_at
      - name: order
        in: query
        schema:
          $ref: '#components/schemas/order_direction'
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - detail
            - detail.is_retired
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '201':
          description: Successful operation
    post:
      tags:
      - Alert Recipients
      summary: Create an alert recipient
      description: Create an alert recipient
      operationId: a2b1c778a4bcf0c885733097548b3e6f
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - detail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#components/schemas/alert_recipient'
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Content
        '201':
          description: Successful operation
  /v1/account/{account_id}/alert-recipients/{alert_recipient_id}:
    get:
      tags:
      - Alert Recipients
      summary: Get an alert recipient
      description: Get an alert recipient
      operationId: 0e3a28a279128ab44fe7b2b1a8c3886c
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - detail
            - detail.is_retired
      - name: alert_recipient_id
        in: path
        description: Alert Recipient Id.
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '200':
          description: Successful operation
    put:
      tags:
      - Alert Recipients
      summary: Update an alert recipient
      description: Update an alert recipient
      operationId: 65257f16bb490827b9054263fba4b19e
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: alert_recipient_id
        in: path
        description: Alert Recipient Id.
        required: true
        schema:
          type: integer
      - name: appends[]
        in: query
        description: array of model names
        schema:
          type: array
          items:
            type: string
            enum:
            - detail
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#components/schemas/alert_recipient'
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '422':
          description: Unprocessable Content
        '200':
          description: Successful operation
    delete:
      tags:
      - Alert Recipients
      summary: Delete an alert recipient
      description: Delete an alert recipient
      operationId: efeba2bf1b97347fa8e1681b73195892
      parameters:
      - name: account_id
        in: path
        required: true
        schema:
          $ref: '#components/schemas/model_id'
      - name: alert_recipient_id
        in: path
        description: Alert Recipient Id.
        required: true
        schema:
          type: integer
      responses:
        '403':
          description: Access Denied
        '401':
          description: Unauthorized
        '204':
          description: Successful operation
components:
  securitySchemes:
    Aloft Token:
      type: http
      name: Aloft Token
      in: header
      scheme: bearer
servers:
- url: https://api.aloft.ai
  description: Base URL reconciled from apis.yml
